p {
    font-family:  Arial, sans-serif;
    font-size: 11pt;
}

h2 {
    font-family: Arial, sans-serif;
}

#select-drop-down {
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right white;
    -webkit-appearance: none;
    background-position-x: 244px;
    -moz-appearance:none;
    box-shadow: 4px 4px;
}

#legend-season {
    font-size: 16pt;
}

.hover-team {
    font-size: 9pt;
}

#mapid {
    height: 97vh;
    width: 80%;
    display: inline-block;
}

#panel {
    width: 19%;
    height: 97vh;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: white;
    border-left: 2px dashed black;
    border-right:2px dashed black;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

.crest {
    max-width: 300px;
    float: center;
}

.sequence-control-container {
    width: 295px;
    height: 30px;
    background-color: white;
    padding: 10px;
    line-height: 45px;
    text-align: center;
    box-shadow: 4px 4px;
    border: 0;
}

.legend-control-container {
    width: 295px;
    height: 225px;
    background-color: rgba(255,255,255,0.9);
    padding: 10px;
    border: 0;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    font-family: Arial, sans-serif;
    box-shadow: 4px 4px;
}

.range-slider {
    width: 200px;
}

.skip {
    width: 35px;
    height: 35px;
    margin-top: 1px;
}

#forward {
    float:right;
}

#reverse {
    float:left;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}